/*-----------------------------TAG--------------------------------*/
nav {
  position: relative;
}

body {
  background-image: url('../assets/technology/background-technology-desktop.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
  margin: 0;
}

li {
  list-style: none;
}

a {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 16px;
}

h1 {
  font-family: 'Bellefair', serif;
  font-weight: 400;
  font-size: 150px;
  line-height: 171.9px;
  margin: auto;
}

h2 {
  font-family: 'Bellefair', serif;
  font-weight: 400;
}

h3 {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
  font-size: 38px;
  line-height: .6px;
}

p {
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
}

strong {
  color : rgba(240, 240, 240, 0.2);
}

img {
  position: absolute;
  top: -190px;
  left: 70px;
  height: 250%;
}

/*-----------------------------CLASS top container--------------------------------*/
.logo {
  position: absolute;
  left: 5%;
  height: 100px;
  width: 100px;
}

.line {
  border-color: rgba(240, 240, 240, 0.2);
  border-style: solid none none none;
  position: absolute;
  width: 52.5%;
  color: white;
  top: 20px;
  left: 17%;
}

.top-container {
  height: 96px;
  padding: 50px;
}

.menu {
  background-color: rgba(240, 240, 240, 0.1);
  box-shadow: 3px 3px black;
  position: absolute;
  left: 67.5%;
  bottom: -67.5px;
  margin: 0;
  padding: 30px;
}

.nav-items {
  display: inline-block;
  font-size: 1px;
  font-size: 15px;
  padding-left: 30px;
}

.menu-text {
  color: inherit;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
}

.menu-text1 {
  margin-right: 40px;
}

.menu-text:hover {
  border: 2px white;
  border-style: none none solid;
  padding-bottom: 30px;
}

/*-----------------------------CLASS middle container--------------------------------*/

.middle-container {
  position: relative;
  margin-top: 7.5%;
  margin-left: 0;
}

.right-part {
  width: 400px;
  height: 300px;
  position: absolute;
  left: 55%;
}

.title {
  position: absolute;
  bottom: 100%;
  margin-bottom: 100px;
}

.left-part {
  position: absolute;
  width: 35%;
  left: 18.5%;
}

.tech-desc {
  position: absolute;
  left: 25%;
}

.term {
  font-size: 15px;
  position: absolute;
  top: 30px;
}

.tech {
  font-size: 45px;
  line-height: 50px;
  position: absolute;
  top: 80px;
}

.dot {
  position: relative;
  padding: 15px 30px 50px 0;
}

.span {
  height: 75px;
  width: 75px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 20px;
}

.span:hover {
  background-color: white;
}

.num {
  margin-top: 21px;
  margin-left: 32px;
  color: black;
}

.crew-name {
  font-size: 35px;
  position: absolute;
  top: 20px;
}

.crew-desc {
  font-size: 15px;
  position: absolute;
  top: 150px;
}

.bottom {
  position: absolute;
  top: 320px;
  width: 100%;
  margin: 0;
}

.est {
  font-family: 'Barlow Condensed', sans-serif;
  text-align: left;
}

.est-value {
  font-family: 'Bellefair', serif;
  font-size: 28px;
}
/*
.explore {
  font-size: 50px;
  position: absolute;
  padding: 26%;
}

.right-part {
  border-radius: 100%;
  background-color: white;
  color: #0B0D17;
  width: 300px;
  height: 300px;
  position: absolute;
  left: 55%;
}

.left-part {
  position: absolute;
  right: 77.5%;
}

.explore-hp {
  position: absolute;
}
*/

/*-----------------------------ID--------------------------------*/
